*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("/images/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}



.container {
  width: 700px;
  padding: 50px 40px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}



h1 {
  text-align: center;
  margin-bottom: 45px;
  font-size: 28px;
  font-weight: 700;
}

a{
    text-decoration: none;
    color: #058bf2;
    text-decoration: underline;
    font-family: cursive;
}
a.button {
  margin-bottom: 40px;
}


a.button,
button {
  background: rgba(255, 255, 255, 0.6);
  color: #000;

  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 8px;

  padding: 15px 26px;
  cursor: pointer;

  transition: all 0.2s ease;
}

a.button:hover,
button:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: translateY(-2px);
}



.message {
  padding: 16px 18px;
  margin-bottom: 16px;

  background: rgba(255, 255, 255, 0.35);
  border-radius: 12px;

  border: 1px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);

  transition: transform 0.2s ease;
}

.message:hover {
  transform: translateY(-2px);
}


.message-user {
  font-weight: 700;
  color: #1f1f1f;
  font-family: cursive;
}

.message-date {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}


.message a {
  display: inline-block;
  margin-top: 6px;
  font-size: 14px;
}

form div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;

  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.4);

  outline: none;
}

input:focus {
  border-color: #6a00ff;
}
.messages {
  margin-top: 30px;
}


button {
  padding: 10px 18px;
  background: #6a00ff;
  color: white;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: transform 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
}
